:root {
  font-family: Inter, system-ui, Helvetica, Arial, sans-serif;
  background-color: #0C090B;

  --primary-color: #0C090B;
  --secondary-color: #282828;
  --border-color: #534850;
  --text-color: #ffffff;
}
body {
  margin: 0;
}